/* savedData.css */

.enterData1{
    border: 4px solid white;
    margin-top: 2%;
    border-radius: 5px;
    background-color: white;   
}

.enterData2{
    background-color: white;
    padding: 0%;
    border-radius: 5px;
}

.checkbox__1{
    background-color: white;
    padding: 0%;
    position: relative;
    margin-top: 3%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.checkbox{  
    transform: scale(1.5);
    background-color: white;   
    width: 100%;
    
 }

 .input__text__1{
    background-color: white;
    padding-top: 1%;
    margin: 0%;
}

 .input__text{
    background-color: white;
    width: 100%;
    border: none;
    margin-top: 3%;
}

.textArea{
    background-color: white;
    border: none;
}

.input__amount__1{
    background-color: white;
    padding: 0%;
    margin-top: 3%;
}

.input__amount{
    background-color: white;
    width: 100%; 
    border: none;
    
}

.close__button__1{
    background-color: white;
    padding: 0%;
    margin: 0%;
    margin-top: 3%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.close__button{
    background-color: white;
    width: 100%;
    padding: 0%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}

.close__button__background{
    background-color: white;
    color: gray;
    font-size: x-large 
} 

.date__time__1{
    background-color: white;
    padding: 0%;
}

.date__time{
    background-color: white;
}