.allBelowUodateNotes{
    margin: auto;
}

/* savedData.css */

.enterData1{
    /* border: 4px solid rgb(54, 230, 30); */
    /* height: 63px; */
    margin-top: 2%;
    border-radius: 5px;
    background-color: white;   
}
.enterData1:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.enterData1:active{
    transform: scale(1.03);
    transition: 0.5s;
}

.enterData2{
    background-color: white;
    /* border: 1px solid blue; */
    /* height: 60px; */
    /* height: fit-content; */
    padding: 0%;
    border-radius: 5px;
}

.checkbox__1{
    background-color: white;
    padding: 0%;
    position: relative;
    margin-top: 3%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.checkbox{  
    transform: scale(1.5);
    background-color: white;   
    width: 100%;
    
 }

 .input__content{
    background-color: white;
    /* padding-top: 1%; */
    padding: 0;
    margin: 0%;
}

.textArea0{
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    /* height: 33px; */
    margin: 0;
    padding: 0;
    padding-top: 2%;
    resize: none;
}

.textArea0::-webkit-scrollbar { 
    display: none;
}

.saved__content{
    /* border: 2px solid rgb(51, 175, 212); */
    /* height: 33px; */
    background-color: white;
    /* padding-top: 1%; */
    padding: 0%;
    /* margin: 0%; */
    overflow-wrap:break-word
}

 .input__text{
    background-color: white;
    width: 100%;
    border: none;
    margin-top: 3%;
}



.input__amount__1{
    background-color: white;
    padding: 0%;
    margin-top: 3%;
    overflow-wrap: break-word;

}

.input__amount{
    background-color: white;
    width: 100%; 
    border: none;
    outline: none;
    margin: 0;
    /* overflow-wrap: break-word; */
}

.close__button__1{
    background-color: white;
    padding: 0%;
    margin: 0%;
    margin-top: 3%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.close__button{
    background-color: white;
    width: 100%;
    padding: 0%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}

.close__button__background{
    background-color: white;
    color: gray;
    font-size: x-large 
} 

.date__col__saved{
    background-color: white;
    /* border: 2px solid rgb(58, 23, 216); */
    width: fit-content;
    font-size: small;
    /* margin-left: 5vw; */
    margin-left: 4rem;
}
.date__row__saved{
    background-color: white;
    
}