 /* Add lines */

 .main__colll{
 background-color: white;
 border-radius: 5px;
 border: none;
 }

 .ssRow{
background-color:white;
border-radius: 5px;
border: none;
display: flex;
justify-content: space-around;
 }

.checkBox__col{
    background-color: white;
    border-radius: 5px;
}

.checkBox{    
    width: 18px;
    height: 18px;
    color: lavender;
}

.content{
    cursor: pointer;
    overflow-wrap:break-word
}

.amount{
    cursor: pointer;
    overflow-wrap:break-word;
    /* background-color: aqua !important; */
}

